---
//Javascript Section
//Inicializacion de variables y tipo
interface Props{
    cardTitle?:string;
    cardContent?:string;
}
//declaracion de variables
const {cardTitle,cardContent} = Astro.props;
---
 <!--Objetivo: este archivo es una representacion de como hacer un modulo en html. por ejemplo: armar secciones en pagina web que se repetiran como bloques de imagenes con texto o sliders cualquier cosa. -->
<!-- Html Section -->
<div class="bg-sky-400 p-4 mb-3">
    <h2>{cardTitle}</h2>
    <p>{cardContent}</p>
</div>
