---
import Layout from "./components/layout.astro";
import Card from "./components/Card.astro";

---
<!-- el parametro pageTitle y pageDescription enviara el titulo y descripcion de la pagina a Layout.astro -->
<Layout pageTitle="Home" pageDescription="Pagina de inicio de portafolio"> 
<h1>Main Page</h1>
<p>bienvenidos ami blog</p>
<Card cardTitle="esto es" cardContent="una carta bonita y chula"/>
</Layout>
